<nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link text-white" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/profiles/">Profiles</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/projects/">Projects</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/accounts/login/">Login</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/contact/">Contact</a></li>
    </ul>
</nav>
